
<div class="login-container">
    <div class="container">
        <div class="login-box">
            
            <div class="signup">
                <h2>Hi</h2>
                <p>Create a new account and start your journey with us</p>
                <button class="btn signup-btn">Sign Up</button>
            </div>
      
            <div class="signin">
                <h2>Sign in</h2>
                <p>using</p>
                <div class="social-icons">
                    <div class="circle"><img src="https://img.icons8.com/ios-glyphs/30/google-logo--v1.png" alt="google-logo--v1"/></div>
                    <div class="circle"><img src="https://img.icons8.com/ios-filled/30/facebook-new.png" alt="facebook-new"/></div>
                    <div class="circle"><img src="https://img.icons8.com/ios-glyphs/30/twitterx--v2.png" alt="twitterx--v2"/></div>
                </div>
                
                <p>or use your account</p>
                <form id="loginForm" (submit)="onSubmit($event)">
                    <input id="email" type="email" placeholder="Email" required autocomplete="email">
                    <input id="password" type="password" placeholder="Password" required autocomplete="current-password">
                    <button type="submit" class="btn signin-btn">Sign In</button>
                </form>
                
            </div>
        </div>
      </div>
</div>
