
<div class="login-container">
    <div class="container">
        <div class="login-box">
            
            <div class="signup">
                <h2>Hello, Friend!</h2>
                <p>Create a new account and start your journey with us</p>
                <button class="btn signup-btn">Sign Up</button>
            </div>
      
            <div class="signin">
                <h2>Sign in</h2>
                <div class="social-icons">
                    <div class="circle"><i class="fab fa-google"></i></div>
                    <div class="circle"><i class="fab fa-facebook-f"></i></div>
                    <div class="circle"><i class="fab fa-x-twitter"></i></div>
                </div>
                
                <p>or use your account</p>
                <form id="loginForm">
                    <input id="email" type="email" placeholder="Email" required autocomplete="email">
                    <input id="password" type="password" placeholder="Password" required autocomplete="current-password">
                    <button type="submit" class="btn signin-btn">Sign In</button>
                </form>                
            </div>
        </div>
      </div>
</div>
